BasedOnStyle: LLVM
AccessModifierOffset: -4
BreakBeforeBraces: Allman
ColumnLimit: 0
IndentWidth: 4
IndentPPDirectives: AfterHash
NamespaceIndentation: All
PointerAlignment: Left
TabWidth: 4
UseTab: Always
