# Ignore these filenames everywhere.
*~

# Build directories
build/
[Oo]bj/

# Ignore files and folders that JetBrains IDEs create.
.idea/

# Ignore Visual Studio/Visual Studio Code workspace files.
.vs/
.vscode/
*.user
